{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .highlight {background-color: yellow}
</style>

<div class="example-wrapper">
    <h1>Articles</h1>

    {%  if articles %}
        <ul>
            {% for article in articles  %}
                <li>
                    <h2>{{ article.title }}</h2>
                    <p>This article as the unique id: <span class="highlight">{{ article.uuid }}</span></p>
                    <p>It was created on : <span class="highlight">{{ article.createdAt|date }}</span></p>
                    <p>{{ article.body }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No article yet...</p>
    {% endif %}
</div>
{% endblock %}
